<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Ink Stained Pages</title>

        </head>
    <body>

        <img src="https://64.media.tumblr.com/faf1743c6f4ff21b8c95197d23e2d285/8127ce76f52d0b8c-18/s2048x3072/fec969c1b5ab269ecd63be75c3e8fae70380474f.pnj", width="20%" class="center">
        <h2 ><bold><a href="/HomePage">Enter My Sanctuary</a></bold></h2>


    <style>
        body {
            background-image: url("https://64.media.tumblr.com/97c72f1e585cf008cc7ea1ebb6985b41/24db900c7d8dd1f6-aa/s1280x1920/34dd28d907d5aff269c2ab468b07d5e33a048eef.jpg");
        }

        .center {
            padding-top: 30px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 35%;
        }

        h2 {
            text-align: center;
            color: rgb(191, 136, 64);
        }

        a {
            color: rgb(191, 136, 64);
        }

        a:hover {
            color: rgb(239, 214, 171);
        }
    </style>

    </body> 
    
</html>